* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #000;
	font: 12px/14px Georgia, serif;
}

.cwaGallery {
    border: 1px solid #454545;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    margin: 10px;
    position: relative;
    width: 400px;
    }
	.cwaGallery-caption,
	.cwaGallery-navigation {
		color: #eee;
	}
    .cwaGallery-navigation {
        background: #000;
        background: rgba(0, 0, 0, .6);
        height: 22px;
        left: 0;
        line-height: 22px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 10;
        }
        .cwaGallery-image-count {
        }
        .cwaGallery-prev,
        .cwaGallery-next {
            background: url(cwaGallery_arrow.png) no-repeat;
			display: block;
            height: 14px;
            margin-top: 4px;
            width: 14px;
        }
        .cwaGallery-prev {
            background-position: right top;
            float: left;
            margin-left: 4px;
        }
        .cwaGallery-next {
            background-position: left top;
            float: right;
            margin-right: 4px;
        }    
    .cwaGallery .images {
        background: #fff none;
        height: 300px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        }
        .cwaGallery .images img {
            border: none;
            display: block;
            padding: 0;
        }
    .cwaGallery-caption {
        background: #000;
        background: rgba(0, 0, 0, .7);
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        width: 100%;
        }
        .cwaGallery-caption span {
            display: block;
            margin: 6px 8px;
        }